/* adding a universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* adding a border in the top  */
body {
  border-top: 10px solid #1098ad;
  color: rgba(0, 0, 0, 0.74);
  font-family: sans-serif;
  font-size: 20px;
  position: relative;
}
h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-style: italic;
}
/* using the pseudo element in the h1 to select the first element */
h1::first-letter {
  font-style: normal;
}
/* centering the navigation */
.navigation {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(224, 224, 224, 0.2);
  padding: 20px 25px;
  margin-bottom: 50px;
  height: 55px;
}

a:link {
  color: #1098ad;
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: #002df8;
  font-weight: bold;
  text-decoration: underline #002df8;
}
a:active {
  background-color: rgb(34, 243, 226);
  color: black;
  text-decoration: underline;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h2 {
  font-size: 40px;
  position: relative;
  display: inline-block;
}
/* centering all the div's */
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
p {
  margin: 15px;
}
li {
  margin-left: 30px;
}
li:first-child {
  font-weight: bold;
}
li p {
  font-weight: bold;
}
li a {
  font-weight: normal;
}
.post-img {
  width: 800px;
  height: auto;
}
aside {
  background-color: rgba(224, 224, 224, 0.2);
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* width: 700px; */
}
.copyright {
  font-size: 18px;
}
aside ul li {
  list-style: none;
}
h4 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.like {
  padding: 20px;
  font-size: 20px;
  border: 1px solid #00000083;
  background-color: rgba(224, 224, 224, 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
h2::after {
  content: "TOP";
  background-color: rgba(255, 255, 0, 0.808);
  font-size: 20px;
  color: rgba(0, 0, 0, 0.658);
  position: absolute;
  top: -20px;
  right: -55px;
}
/* Floats */
/* article {
  width: 800px;
}
.navigation {
  text-align: center;
}
h1 {
  float: left;
  margin-top: -10px;
}
nav {
  float: right;
}
nav::after {
  content: "";
  clear: both;
  display: block;
}
aside {
  float: right;
}
article {
  float: left;
}
.copyright {
  clear: both;
} */
/* Doing the blog post  layouts using FlexBox */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1 / span 2;
}
/*
.author-box {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}
.related-post {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.related-post-detail {
  padding-bottom: 35px;
}
.related-post-author {
  margin: 0;
  font-size: 14px;
  font-style: italic;
}
.row {
  display: flex;
  align-items: flex-start;
} */
/* Doing the blog layout using Grid */
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  align-items: start;
}
aside {
  grid-column: 2/3;
}
footer {
  grid-column: 1 / span 2;
}
